#header-container{
    box-sizing: border-box;
    height: 100px;
    padding: 20px 40px;
    background: linear-gradient(90deg, rgba(15,15,15,1) 0%, rgba(4,120,87,0.5) 100%);
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    width: calc(100% - 250px);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header p{
    width: fit-content;
}

.search-section{
    position: relative;
    height: fit-content;
    width: 30%;
}

.search-bar {
    margin: 0px;
  }
  
  .search-bar input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    background: var(--background-color);
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    width: 100%;
  }
  
  .loading {
    text-align: center;
    font-style: italic;
    color: #888;
  }
  
  .error {
    text-align: center;
    color: red;
    font-weight: bold;
  }
  
  .results-list {
    position: absolute;
    list-style: none;
    padding: 20px;
    max-height: 400px;
    overflow-y: scroll;    
    border-radius: 10px;
    background: var(--background-color);
  }

  .results-list::-webkit-scrollbar{
    display: none;
  }
  
  .result-item {
    display: flex;
    align-items: center;
    padding: 20px 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    border-radius: 5px;
  }

  .result-item:hover{
    background-color: var(--primary-color);
  }
  
  .crypto-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  .result-item span {
    font-size: 14px;
  }

  .header-icons, .header-user{
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .header-user svg{
    width: 50px;
    height: 50px;
  }

  .menu-mobile{
    display: none;
  }

  .menu-toggle{
    position: absolute;
    top: 20px;
    right: 20px;
  }

  #header-container::-webkit-scrollbar{
    display: none;
  }

  @media (max-width: 1200px) {
    .header-user p, .header-date{
      display: none;
    }
  }

  @media (max-width: 900px) {
    .menu-toggle {
      display: block;
    }
  
    #header-container {
      &.expanded {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--component-background-1);
        backdrop-filter: blur(2px) saturate(181%);
        -webkit-backdrop-filter: blur(2px) saturate(181%);
        background-color: rgba(17, 25, 40, 0.70);
        z-index: 999;
        overflow-y: scroll;
        
        .header {
          display: flex;
          flex-direction: column;
          text-align: center;
          align-items: center;
        }
  
        .search-section,
        .header-icons,
        .header-user,
        .menu-mobile {
          margin: 20px 0;
        }

        .search-section{
          width: 90%;
          max-width: 600px;
          order: 3;
        }
        .header-icons{
          order: 2;
        }
        .menu-mobile{
          order: 4;
        }
      }
    }
  }

  @media (max-width: 700px){
    #header-container{
      width: 100%;
    }
    
    .menu-mobile{
      display: block;
    }
  }
