<div id="header-container">
    <div class="header">
        <p>Friday, 4 Nov 2022</p>
        <div class="search-section">
            <div class="search-bar">
                <input
                  type="text"
                  [(ngModel)]="searchTerm"
                  (input)="searchCryptocurrencies()"
                  placeholder="Buscar criptomonedas..."
                />
            </div>
              
            <div *ngIf="isLoading" class="loading">Cargando...</div>
            
            <div *ngIf="error" class="error">{{ error }}</div>
            
            <ul class="results-list" *ngIf="searchResults.length > 0">
            <li *ngFor="let result of searchResults" class="result-item">
                <img [src]="result.thumb" alt="{{ result.name }}" class="crypto-icon" />
                <span>{{ result.name }} ({{ result.symbol.toUpperCase() }})</span>
            </li>
            </ul>
            
            <div *ngIf="!isLoading && !error && searchResults.length === 0 && searchTerm.trim()">
            No se encontraron resultados.
            </div>
        </div>
        <div class="header-icons">

        </div>
        <div class="header-user">

        </div>
    </div>
</div>
