<div id="cuentas-container">
    <div class="main-banner">
        <img src="../../../assets/images/main-banner.jpg" alt="">
    </div>
    <section class="section-1">
        <div class="statistics">
            <div class="statistics-section">
                <div class="statistic">
                    <span class="statistic-head">Monthly Income</span>
                    <div class="statistic-info">
                        <h2 class="money">43.756,97 €</h2>
                        <span class="percentage text-red">-4%</span>
                    </div>
                </div>
                <div class="statistic">
                    <span class="statistic-head">Monthly Outcome</span>
                    <div class="statistic-info">
                        <h2 class="money">23.756,97 €</h2>
                        <span class="percentage text-green">+8%</span>
                    </div>
                </div>
            </div>
            <div class="statistics-section">
                <div class="statistic">
                    <span class="statistic-head">Monthly Savings</span>
                    <div class="statistic-info">
                        <h2 class="money">6.756,97 €</h2>
                        <span class="percentage text-red">-4%</span>
                    </div>
                </div>
                <div class="statistic">
                    <span class="statistic-head">Monthly Outcome</span>
                    <div class="statistic-info">
                        <h2 class="money">23.756,97 €</h2>
                        <span class="percentage text-green">+8%</span>
                    </div>
                </div>
            </div>
        </div>
        <app-gastos-chart />
    </section>
    <section class="section-2">
        <div class="cards">
            <div class="cards-head">
                <h3>My cards</h3>
                <button class="button-2">
                    +
                </button>
            </div>
            <div *ngFor="let card of cards" class="card-container">
                <div class="credit-card">
                    <div class="chip"></div>
                    <img src="../../../assets/images/master-card.png" alt="">
                    <span>{{card.type}}</span>
                </div>
                <div class="card-info">
                    <span>{{card.number}}</span>
                    <span>{{card.expirationDate}}</span>
                </div>
            </div>
        </div>
    </section>
</div>
