<div id="main-container">
    <div class="main-banner">
        <img src="../../../assets/images/main-banner.jpg" alt="">
    </div>
    <div class="overall-portfolio component-1">
        <div class="overall-head">
            <h3>Overall portfolio</h3>
            <div class="head-buttons">
                <button class="button-1">Withdraw</button>
                <button class="button-2">Deposit +</button>
            </div>
        </div>
        <div class="portfolio-stats">
            <div class="portfolio-stat">
                <div class="stat-head">
                    <span>Balance</span>
                    <span class="percentage">24%</span>
                </div>
                <div class="stat-money">
                    42,069.00 $
                </div>
            </div>
            <div class="portfolio-stat">
                <div class="stat-head">
                    <span>Balance</span>
                    <span class="percentage">24%</span>
                </div>
                <div class="stat-money">
                    42,069.00 $
                </div>
            </div>
            <div class="portfolio-stat">
                <div class="stat-head">
                    <span>Balance</span>
                    <span class="percentage">24%</span>
                </div>
                <div class="stat-money">
                    42,069.00 $
                </div>
            </div>
            <div class="portfolio-stat">
                <div class="stat-head">
                    <span>Balance</span>
                    <span class="percentage">24%</span>
                </div>
                <div class="stat-money">
                    42,069.00 $
                </div>
            </div>
        </div>
    </div>
    <div class="favorite-cryptos">
        <div class="favorite-head">

        </div>
        <div class="favorite-crypto">
            <app-crypto-chart/>
        </div>
    </div>
</div>