<div id="chart">
  <div class="chart-head">
    <div class="chart-info">
      <img src="{{currentCrypto.image.small}}" alt="">
      <h3>{{currentCrypto.name}}</h3>
    </div>
    <div class="chart-buttons">
      <button (click)="fetchCryptoData('bitcoin', '1d')">1 Day</button>
      <button (click)="fetchCryptoData('bitcoin', '7d')">1 Week</button>
      <button (click)="fetchCryptoData('bitcoin', '30d')">1 Month</button>
    </div>
    <p>{{currentCrypto.market_data.current_price.eur}} €</p>
  </div>
  <apx-chart
    #chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [yaxis]="chartOptions.yaxis"
    [grid]="chartOptions.grid"
    [stroke]="chartOptions.stroke"
    [markers]="chartOptions.markers"
    [tooltip]="chartOptions.tooltip"
  ></apx-chart>
  </div>