
.dark-mode{
    --background-color: #0f0f0f;
    --component-background-1: #0A0A0A;
    --primary-color: #00684e;
}

.light-mode{
    --background-color: #0A0A0A;
    --component-background-1: #0A0A0A; 
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--background-color);
    color: white;
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    margin: 40px 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}

a{
    text-decoration: none;
    color: inherit;
}

.router-link-active{
    color: var(--primary-color);
}

.component-1{
    background: linear-gradient(90deg, rgba(15,15,15,1) 0%, rgba(2,60,44,0.2) 75%, rgba(4,120,87,0.5046393557422969) 100%);
}

.button-1{
    padding: 8px 15px;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: white;
    border-radius: 10px;
    max-height: 40px;
    font-weight: bold;
}

.button-2{
    padding: 8px 15px;
    background-color: var(--primary-color);
    border: var(--primary-color);
    color: white;
    border-radius: 10px;
    max-height: 40px;
    font-weight: bold;
}