@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.progress-spinner-overrides((
    active-indicator-color: #00bc8d,
  ));
}


.dark-mode{
    --background-color: #0f0f0f;
    --component-background-1: #1a1a1a;
    --primary-color: #00bc8d;
    --gradient-1: linear-gradient(180deg, rgb(14 14 14 / 94%) 0%, rgb(58 57 57 / 75%) 95%, rgb(79 79 79 / 80%) 100%);
    --gradient-2: linear-gradient(90deg, rgb(14 14 14 / 94%) 0%, rgb(58 57 57 / 75%) 95%, rgb(79 79 79 / 80%) 100%);
    --gradient-3: linear-gradient(90deg, rgba(15,15,15,1) 0%, rgba(4,120,87,0.5) 100%);
    --gradient-4: linear-gradient(90deg, rgba(15,15,15,1) 0%, rgba(4,120,87,0.5) 100%);
}

.light-mode{
    --background-color: #0A0A0A;
    --component-background-1: #0A0A0A; 
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--background-color);
    color: white;
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style: none;
    padding: 0;
}

.menu li{
    margin: 40px 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}

a{
    text-decoration: none;
    color: inherit;
}

.router-link-active{
    color: #00bc8d;
}

.component-1{
    background: linear-gradient(90deg, rgba(15,15,15,1) 0%, rgba(2,60,44,0.2) 75%, rgba(4,120,87,0.5046393557422969) 100%);
}
.component-2{
    background: linear-gradient(180deg, rgba(15,15,15,1) 0%, rgba(2,60,44,0.2) 75%, rgba(4,120,87,0.5046393557422969) 100%);
}

.button-1{
    padding: 8px 15px;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: white;
    border-radius: 10px;
    max-height: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.button-2{
    padding: 8px 15px;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: white;
    border-radius: 10px;
    max-height: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.button-1:hover{
    background-color: var(--primary-color);
}

.button-2:hover{
    background-color: transparent;
}

.button-3{
    padding: 30px;
    border-radius: 50%;
    color: white;
    border: none;
    font-weight: bold;
    background-color: var(--component-background-1);
    width: 50px;
}

.text-green{
    color: #01ff16;
}

.text-red{
    color: #ff3401;
}


@media (max-width: 700px){
    #menu{
      display: none;
    }

    .button-3{
        padding: 20px 10px;
    }
  }
html, body { height: 100%; }
